body {
  background: url(textture-noise.png);
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}



#newest
{
height:300px;
width:650px;
float:left;
background-color: white;
}


#list
{
height:300px;
width:400px;
float:right;
}
