body {
  background: url(textture-noise.png);
  overflow: hidden;
  margin: 0;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica;
}

form.blogViewComment{
    display: inline;
}

#newest
{
/*height:300px;*/
color: white; 
width:650px;
float:left;
font-family:Lucida Sans Unicode;
font-size: 20px;
font-style: italic;
border-style:inset;
background: url(background-textures-black-texture-paper.jpg);
overflow:hidden;
}

#list
{
/*height:300px;*/
width:300px;
float:left;
text-align: right;
font-family:"Helvetica Neue", Helvetica;
font-size: 16px;
}

#entryList
{
float: right;
}

#Entryview
{
    float:left;
}
#blogViewNewest
{
color: white; 
width: 700px;
font-family:Lucida Sans Unicode;
font-size: 20px;
font-style: italic;
border-style:inset;
background: url(background-textures-black-texture-paper.jpg);
overflow:hidden;
}

#blogViewComment
{
color: black;
font-style: bold;
background: url(light-wooden-background.jpg);
overflow:hidden;
}

#addComment
{float:left;}

#loginButton 
{
	
}
